* {
  font-family: sans-serif;
}

#inputForm{

}

input.userInput{
  width: 250px;
  border-radius: 5px;
  padding: 5px;
  border-color: darkblue;
  border-style: solid;
  border-width: thin;
}

button, #btnGenPHP{
  font-size: 25px;
  width: 230px;
  border-radius: 8px;
  border-color: blue;
  background-color: cyan;
}

#teamNames{
  width: 400px;
}

#summaryContent {
  font-size: 20px;
}

#summaryContent tr {
  vertical-align: top;
}

.summaryTable td{
  padding: 5px;
  border: 3px solid white;
  vertical-align: middle;
  /* border-collapse:collapse; */
}

.summaryTable th{
  background-color: #98cc20;
  border: 3px solid white;
  text-align: center;
}

.summaryTable a{
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.summaryTable tr{
  padding: 5px;
}

.summaryTable tr:nth-child(even){
  background-color: #e7e77e;
}

.summaryTable tr:nth-child(odd){
  background-color: #f3f3be;
}

.rightTextAlign{
  text-align: right;
}
